body{
  background: #efefef;
  margin: 0;
}
a{
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
hr{
  height: 0;
  border: none;
  border-top: 1px solid #dedede;
}
ul,ol{
  list-style: none;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
.topNavBar {
  padding: 20px 0 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.topNavBar-inner{
  padding: 0 16px 0 16px;
}
.topNavBar .logo{
  float: left;
  font-family: Arial Black;
  font-size: 24px ;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
}
.topNavBar .logo .rs{
  color: #e6686a;
  margin-right: 4px;
}
.topNavBar .logo .card{
  color: #9a9da2;
}
.topNavBar nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.topNavBar nav ul>li{
  float: left;
  margin-left: 17px;
  margin-right: 17px;
}
.topNavBar nav a{
  color: #B7B7B7;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  font-weight: bold;
}
.topNavBar nav{
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.topNavBar nav ul>li>a:hover{
  border-bottom-color: #DC6465;
}
.banner{
  height: 800px;
  background-image: url(./image/cat.jpg);
  background-position: center center;
  background-size: cover;
}
.banner .mask{
  height: 800px;
  background-color: rgba(0,0,0,0.7) 
}
.userCard{
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.15);
  border-radius: 2px;
}
.userCard .welcome{
  background: #e6686a;
  color: white;
  padding: 4px 16px;
  line-height: 22px;
  position: relative;
  display: inline-block;
}
.userCard .triangle{
  display: block;
  border: 10px solid transparent;
  width: 0px;
  border-left-color: #e6686a;
  border-top-width: 0px;
  left: 4px;
  top: 100%;
  position: absolute;
}
.userCard .picture{
  float: left;
}
.userCard .text{
  float: left;
  margin-left: 100px;
  width: 540px;
}
.userCard .text h1{
  margin-top: 28px;
  margin-bottom: 8px;
}
.userCard .pictureAndText{
  padding: 50px;
  margin-top: -300px;
}
.userCard .text hr{
  margin: 20px 0;
}
.userCard dl dt,
.userCard dl dd{
  float: left;
  padding: 5px 0;
}
.userCard dl dt{
  width: 30%;
  font-weight: bold;
}
.userCard dl dd{
  width: 70%;
  color: #9da0a7;
}

.userCard footer.media{
  background: #e6686a;
  text-align: center;
}
.userCard footer.media .icon{
  fill: white;
  height: 30px;
  width: 30px;
  vertical-align: top;
}
.userCard footer a{
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  line-height: 30px;
  padding: 10px 0;
  margin: 16px;
}
.userCard footer a:hover{
  background: #cf5d5f;
}
main .downloadButton{
  font-size: 14px;
  line-height: 16px;
  padding: 26px 55px;
  display: inline-block;
  border: 1px solid #cdcfd1;
  border-radius: 2px;
  color: #3d4451;
  font-weight: bold;
  margin: 32px;
}
main .wrapper{
  text-align: center;
}
main .downloadButton:hover{
  box-shadow: 0px 4px 15px 2px rgba(0,0,0,0.25);
  transition: box-shadow 0.5s;  
}
main .self-introduction{
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: youyuan;
  line-height: 1.8;
  font-size: 22px;
}
section.skills,
section.portfolio{
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
section.skills h2,
section.portfolio h2{
  text-align: center;
  color: #3d4451;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;  
}
section.skills h3{
  font-size: 14px;
  line-height: 1.1;
  padding-right: 40px;
}
ol.skillsTree{
  background: white;
  box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.15);
  padding: 42px 50px 10px;
}
ol.skillsTree >li {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
ol.skillsTree >li:nth-child(odd){
  padding-right: 40px;
}
section.skills .progressBar{
  height: 5px;
  background: #fae1e1;
  border-radius: 5px;
  margin: 4px 0 40px;
}
section.skills .progressBar > .progress{
  height: 100%;
  background: #e6686a;
  border-radius: 5px;
}
section.portfolio{
  text-align: center;
  margin-bottom: 100px;
}
section.portfolio > nav{
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
section.portfolio > nav > ol{
  display: inline-block;
  vertical-align: top;
}
section.portfolio > nav > ol > li{
  float: left;
  margin-right: 40px;
  cursor: pointer;
}
section.portfolio > nav > ol > li:nth-child(3){
  margin-right: 0;
}
section.portfolio > nav .bar{
  height: 5px;
  background: white;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 2px;
}
section.portfolio > nav .bar-inner{
  height: 100%;
  background: #e6686a;
  border-radius: 2px;
  transition: 0.3s;
}
section.portfolio > nav .bar.state-1 .bar-inner{
  margin-left: 0;
  width: 50px;
}
section.portfolio > nav .bar.state-2 .bar-inner{
  margin-left: 80px;
  width: 40px;
}
section.portfolio > nav .bar.state-3 .bar-inner{
  margin-left: 160px;
  width: 31px;
}
section.portfolio .cats{
  position: relative;
}
section.portfolio .cats > .big,
section.portfolio .cats > .small{
  position: absolute;
}